In [77]:
# Problem 1: Unique Words in a Sentence
# Problem Statement
# Given a sentence, identify all unique words and display:
# The count of unique words
# The unique words themselves
# Hint
# Split the sentence into individual words.
# Convert the list of words into a set to remove duplicates.
# Print both the set and its length.
# Input
# Enter sentence: python is easy and python is powerful

# Expected Output
# Unique words count: 5
# Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

In [4]:

string=input("Enter the sentence: ")

Enter the sentence: python is easy and python is powerful

In [5]:
words=string.split()
unique_words=set(words)

In [6]:
print("Unique words in the sentence:",unique_words)
print("Count of unique words:",len(unique_words))

Unique words in the sentence: {'powerful', 'easy', 'is', 'and', 'python'}
Count of unique words: 5

In [ ]:
# Problem 2: Highest Salary from Employee Data
# Problem Statement
# Store employee names and their salaries, and determine which employee has the highest salary.
# Hint
# Use a dictionary where the key is the employee name and the value is the salary.
# Compare salary values to find the highest.
# Input Format
# A dictionary where:
# Keys represent employee names
# Values represent employee salaries
# Example Input
# employees = {
#     "Ravi": 75000,
#     "Anita": 68000,
#     "Kiran": 72000
# }

# Expected Output
# Highest Salary: Ravi - 75000

In [7]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

In [8]:
High_sal_emp=max(employees,key=employees.get)

In [17]:
print("Employee with highest salary:",High_sal_emp,"With Salary:",employees[High_sal_emp])

Employee with highest salary: Ravi With Salary: 75000

In [ ]:
# Problem 3: Find Maximum and Minimum Values
# Problem Statement
# Find the maximum and minimum values from a list of numbers.
# Hint
# Initialize both maximum and minimum with the first element of the list.
# Use a loop to compare each element.
# Input Format
# A list of integers where each element represents a numeric value.
# Example Input
# numbers = [45, 22, 89, 10, 66]

# Expected Output
# List: [45, 22, 89, 10, 66]
# Max: 89
# Min: 10

In [65]:
numbers = [45, 22, 89, 10, 66]
min_value=numbers[0]
max_value=numbers[0]

In [66]:
for i in numbers:
    if i  < min_value:
      min_value=i
    if i > max_value:
      max_value=i

In [67]:
print("Minimum value:",min_value)
print("Maximum value:",max_value)

Minimum value: 10
Maximum value: 89

In [78]:
# Problem 4: Count Products Above a Price Threshold
# Problem Statement
# Count how many products have a price greater than 1000.
# Hint
# Use a loop to compare each price with 1000.
# Input Format
# A list of integers where each element represents the price of a product.
# Example Input
# prices = [450, 1200, 899, 1500, 300]

# Expected Output
# Products above 1000: 2

In [81]:
prices = [450, 1200, 899, 1500, 300]
count=0

In [82]:
for i in prices:
  if i>1000:
    count+=1

In [83]:
print("Products above 1000:",count)

Products above 1000: 2

In [ ]:
# Problem 5: Calculate Attendance Percentage
# Problem Statement
# Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
# Hint
# Count the number of "P" values.
# Divide by the total number of days.
# Example Input
# attendance = ["P", "P", "A", "P", "P"]

# Expected Output
# Attendance Percentage: 80.0

In [32]:
attendance = ["P", "P", "A", "P", "P"]

In [34]:
attendance_count=attendance.count("P")
total_strength=len(attendance)
Percentage=(attendance_count/total_strength)*100

In [35]:
print("Attendance Percentage:",Percentage)

Attendance Percentage: 80.0

In [ ]:
# Problem 6: Remove Duplicate Phone Numbers
# Problem Statement
# You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
# Hint
# Convert the list into a set.
# Sets automatically remove duplicate values.
# Input Format
# A list of integers where each integer represents a phone number.
# Example Input
# phone_numbers = [9876543210, 9123456789, 9876543210]

# Expected Output
# Unique phone numbers: {9876543210, 9123456789}

In [36]:
phone_numbers = [9876543210, 9123456789, 9876543210]

In [37]:
unique_numbers=set(phone_numbers)

In [38]:
print("Unique phone numbers:",unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [ ]:
# Problem 7: Count Character Frequency
# Problem Statement
# Count how many times each character appears in a given string.
# Hint
# Use a dictionary.
# Increment the count for each character occurrence.
# Expected Output
# {'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [52]:
string=input("Enter the String:")

Enter the String:python

In [53]:
dic={}
for i in string:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1

In [54]:
print(dic)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [ ]:
# Problem 8: Convert List to Tuple
# Problem Statement
# Convert a list into a tuple and display it.
# Hint
# Use the tuple() function.
# Expected Output
# Tuple: (10, 20, 30)

In [55]:
numbers=[10,20,30]

In [56]:
numbers_tuple=tuple(numbers)

In [58]:
print("Tuple:",numbers_tuple)

Tuple: (10, 20, 30)

In [ ]:
# Problem 9: Check if a Key Exists in a Dictionary
# Problem Statement
# Check whether a specific key exists in a dictionary.
# Hint
# Use the in keyword.
# Expected Output
# Employee exists

In [59]:
employee={
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

In [69]:
key=input("Enter employee name:")

Enter employee name:Ravi

In [70]:
if key in employee:
  print("Employee exists")
else:
  print("Employee doesn't exists")

Employee exists

In [ ]:
# Problem 10: Calculate Average Marks
# Problem Statement
# Calculate the average marks of a student from a list of marks.
# Hint
# Calculate the sum of all values.
# Divide by the total number of marks.
# Expected Output
# Average Marks: 72.5

In [61]:
marks=[45,35,60,76,70,89]

In [63]:
Total_Marks=sum(marks)
avg_marks=Total_Marks/len(marks)

In [64]:
print("Average Marks:",avg_marks)

Average Marks: 62.5